NODE_ENV

PORT
MONGO_URL
DB_NAME

ADMIN_LOGIN
ADMIN_PASSWORD

JWT_SECRET
BCRYPT_SALT_ROUNDS
CLIENT_URL

ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRES_IN

REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRES

BCRYPT_SALT_ROUNDS
CLIENT_URL

EMAIL_FROM
EMAIL_USER
EMAIL_PASSWORD
EMAIL_HOST
EMAIL_PORT
